<mat-toolbar>
  <div class="logo">
    <button mat-icon-button (click)="toggleSidebar.emit()">
      <mat-icon>menu</mat-icon>
    </button>

    <h2>Task Board</h2>
  </div>

  <span class="spacer"></span>

  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>

  <button mat-button class="profile-btn" [matMenuTriggerFor]="profileMenu">
    <div class="profile-btn-content">
      <mat-icon>account_circle</mat-icon>
      <mat-icon class="dropdown-arrow">arrow_drop_down</mat-icon>
    </div>
  </button>

  <mat-menu #profileMenu="matMenu" xPosition="before">
    <div class="menu-header" *ngIf="userEmail">
      <span>{{ userEmail }}</span>
    </div>
    <mat-divider *ngIf="userEmail"></mat-divider>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
